.hero {
  height: 50vh;
  background: #87CEFA url("../assets/images/travelbag.png") no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  justify-content: center;
}

.hero h1 {
  color: #fff;
  font-size: 18px;
  width: 50%;
}

a {
  background-color: #556b2f;
  width: fit-content;
  height: fit-content;
  margin-top: 12px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  text-decoration: none;
}

a:hover {
  /* background: red; */
  opacity: 0.6;
}

a .cart,
a span {
  padding: 8px 12px;
  font-size: 18px;
}

a .cart {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  color: #fff;
}

a span {
  background-color: #feed53;
  color: #333;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

@media only screen and (min-width: 786px) {
  .hero {
    background-size: contain;
    background-position-x: right;
    justify-content: center;
    align-items: center;
  }
  
  .hero h1 {
    color: #fff;
    font-size: 3rem;
    width: fit-content;
  }
  
  a {
    outline: none;
    align-self: center;
  }
  
  a .cart,
  a span {
    font-size: 24px;
  }
  
  a span {
    background-color: #feed53;
    color: #333;
    text-decoration: none;
  }  
}