* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

header {
  position: sticky;
  top: 0;
  background-color: #556B2F;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.env {
  color: #feed53;
  font-size: 22px;
  padding-right: 1rem;
}

@media only screen and (min-width: 786px) {
  .logo {
    order: 1;
    padding-left: 1rem;
  }

  .navBar {
    order: 2;
  }

  .env {
    order: 3;
  }
}